//place holder 

::placeholder {
    color: $bg_secondary_color;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $bg_secondary_color;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $bg_secondary_color;
}
  