// Variables
//colors
$bg_primary_color:#f3f6f9;
$bg_secondary_color:#fafafa;
$bg_tertiary_color:#f2effe;
$bg_white_color:#fff;

$font-primary-color:#464a53;
$font-secondary-color:#5e6269;

$blue-primary-color:#00aff0;
$blue-tertiary-color:#3b5998;
$green-primary-color:#71d875;
$violet-primary-color:#7f63f4;
$yellow-primary-color:#ffdd66;
$red-primary-color:#f5676d;
$sky-primary-color: #1da1f2;
$pink-primary-color:#ea4c89;

//font-size
$font-primary-size:35px;
$font-secondary-size:18px;
$font-tartiary-size:35px;
