.glance-blue {
    h3 {
      color:$blue-primary-color;
    }
    .progress {
      .progress-bar {
        background-color: $blue-primary-color;
      }
    }
  }
  .glance-green {
    h3 {
      color:$green-primary-color;
    }
    .progress {
      .progress-bar {
        background-color: $green-primary-color;
      }
    }
  }
  .glance-pink {
    h3 {
      color:$pink-primary-color;
    }
    .progress {
      .progress-bar {
        background-color: $pink-primary-color;
      }
    }
  }
  .glance-yellow {
    h3 {
      color:$yellow-primary-color;
    }
    .progress {
      .progress-bar {
        background-color: $yellow-primary-color;
      }
    }
  }
  