.team {
    .media {
      h4 {
        font-size: 16px;
      }
      p {
        font-size: 13px;
      }
      h5 {
        font-size: 13px;
      }
      a {
        i {
          font-size: 12px;
        }
      }
    }
  }